[submodule "Util/Repo"]
	path = Util/Repo
	url = https://github.com/JeroenDStout/Ap-Util-Repo.git
[submodule "Ap-Code-BlackRoot"]
	url = https://github.com/JeroenDStout/Ap-Code-BlackRoot.git
	path = Code/BlackRoot
